.forgot-password {
  color: $color-dark-1;
  padding-top: 3rem;

  h2 {
    letter-spacing: 0.1rem;
    text-align: center;
    text-transform: uppercase;
    color: $color-dark-1;
  }

  p {
    margin-top: 1rem;
    font-size: 1rem;
    text-align: center;
  }

  form {
    margin: 3rem 10vw;
    max-width: 40rem;

    display: flex;
    justify-content: center;
    flex-direction: column;

    @include media('>tablet') {
      margin: 3rem auto;
    }

    label {
      letter-spacing: 0.1rem;
      margin-bottom: 0.5rem;
      text-transform: uppercase;
      font-weight: 600;
    }

    input {
      background-color: transparent;
      border-radius: 1px;
      color: $color-dark;
      padding: 0.75rem 1rem;
      border: 1px solid rgba($color-dark-5, 0.9);

      &:focus,
      &:active {
        border: 1px solid rgba($color-dark-3, 0.9);
      }
    }

    button {
      background-color: $color-dark;
      color: $white;
      padding: 0.75rem 1.2rem;
      border-radius: 1px;
      width: fit-content;
      font-size: 1rem;
      margin: auto;
      margin-top: 3rem;
    }

    a {
      margin: auto;
      margin-top: 2rem;
    }
  }
}
