.login {
  color: $color-dark-1;
  min-height: 100vh;
  padding: 3rem 0;

  .login-heading {
    letter-spacing: 0.1rem;
    text-align: center;
    text-transform: uppercase;
    color: $color-dark-1;
  }

  .login-form {
    margin: 3rem 10vw 1rem 10vw;
    max-width: 40rem;
    display: flex;
    flex-direction: column;

    @include media('>tablet') {
      margin: 3rem auto 1rem auto;
    }

    label {
      letter-spacing: 0.1rem;
      margin-bottom: 0.5rem;
      text-transform: uppercase;
      font-weight: 600;

      &[for='password'] {
        margin-top: 1.5rem;
      }
    }

    input {
      background-color: transparent;
      border-radius: 1px;
      color: $color-dark;
      padding: 0.75rem 1rem;
      border: 1px solid rgba($color-dark-5, 0.9);

      &:focus,
      &:active {
        border: 1px solid rgba($color-dark-3, 0.9);
      }

      // forgot password link
      ~ a {
        margin-top: 0.6rem;
        text-align: right;
      }

      &[name='password'][data-is-valid='false'] {
        & ~ a {
          margin-top: 0;
          transform: translateY(-0.4rem);
        }
      }
    }

    .login-btn {
      width: fit-content;
      margin: auto;
      font-size: 1rem;
      margin-top: 2rem;
    }
  }

  .container {
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;

    .register-msg {
      max-width: 80vw;
      text-align: center;
      margin-top: 2.5rem;
      margin-bottom: 2rem;
    }

    .register-btn {
      width: fit-content;
      background-color: #e1e1e1;
    }

    .social-login-msg {
      margin-top: 3.5rem;
      margin-bottom: 2rem;
    }

    .social-login-icons {
      display: flex;
      justify-content: center;
      align-items: center;

      button {
        display: flex;
        justify-content: center;
        align-items: center;
        width: 5rem;
        padding: 0;

        i {
          color: $color-dark;
          width: 3rem;
          height: 3rem;
          border-radius: 100%;
          // color: #fff;

          display: flex;
          justify-content: center;
          align-items: center;
          font-size: 1.2rem;

          &.fa-facebook {
            border: 2px solid #3b5998;
            color: #3b5998;
          }

          &.fa-instagram {
            border: 2px solid #e1306c;
            color: #e1306c;
          }

          &.fa-twitter {
            border: 2px solid #1da1f2;
            color: #1da1f2;
          }
        }
      }
    }
  }
}
