.order-received {
  @include container;
  margin-bottom: 7rem;

  .payment-details {
    border-bottom: $light-border;
    padding-bottom: 1rem;

    table {
      width: 100%;
      margin: auto;
      text-align: left;
      border-collapse: collapse;

      tr {
        height: 2rem;
      }

      th {
        color: $color-dark-3;
      }
    }

    @media only screen and (max-width: 760px),
      (min-device-width: 768px) and (max-device-width: 1024px) {
      height: 11rem;
      table,
      thead,
      tbody,
      th,
      td,
      tr {
        display: block;
      }

      th,
      td {
        padding: 6px;
      }

      table {
        border-bottom: none;
      }

      thead tr {
        position: absolute;
        top: -9999px;
        left: -9999px;
      }

      td {
        border: none;
        position: relative;
        padding-left: 50%;

        overflow: hidden;
        text-overflow: ellipsis;
      }

      td:before {
        position: absolute;
        top: 6px;
        left: 6px;
        width: 45%;
        padding-right: 10px;
        white-space: nowrap;
        color: $color-dark-3;
      }

      td:nth-of-type(1):before {
        content: 'Order number:';
      }
      td:nth-of-type(2):before {
        content: 'Date:';
      }
      td:nth-of-type(3):before {
        content: 'Email:';
      }
      td:nth-of-type(4):before {
        content: 'Total:';
      }
      td:nth-of-type(5):before {
        content: 'Payment method:';
      }
    }
  }

  .order-details {
    border: $light-border;
    padding: 1.5rem;
    margin-top: 3rem;

    h2 {
      margin-bottom: 1.5rem;
      font-size: 1.25rem;
    }

    table {
      width: 100%;
      text-align: left;
      border-collapse: collapse;
      line-height: 1.75rem;

      th {
        border-bottom: $light-border;
        padding-bottom: 0.75rem;
      }

      td {
        height: 2rem;
      }

      tbody {
        tr {
          td {
            color: $color-dark-3;
            text-transform: capitalize;
          }

          &:first-of-type {
            td {
              padding-top: 1rem;
            }
          }

          &:nth-last-child(2) {
            td {
              padding-bottom: 1rem;
            }
          }

          &:last-of-type {
            td {
              border-top: $dark-border;
              padding: 1rem 0;
            }
          }
        }
      }
    }
  }

  .billing-details {
    margin: 2rem 0;
    border-bottom: 1px solid rgba(195, 195, 195, 0.4);
    padding-bottom: 2rem;

    h2 {
      margin-bottom: 1.5rem;
      font-size: 1.25rem;
    }

    p {
      line-height: 1.75rem;
    }
  }

  .dark-btn {
    margin-top: 3rem;
    display: block;
    width: fit-content;
  }
}
