.billing-details--input-group {
  h2 {
    margin-bottom: 2.7rem;
  }

  br[data-disabled='false'] {
    display: none;
  }

  .dropdown-wrapper {
    &[data-is-disabled='false'] {
      margin-top: 0.75rem;

      label[for='country'] {
        opacity: 0.65;
        font-size: 0.85rem;
        font-weight: 600;
      }
    }

    &[data-is-disabled='true'] {
      margin-top: 2rem;
      margin-bottom: 3.5rem;

      label[for='country'] {
        opacity: 0.65;
        font-size: 0.85rem;
        font-weight: 600;
      }
    }

    .Dropdown-root {
      font-family: Arial, Helvetica, sans-serif;
      margin-top: 0.25rem;
      font-weight: 400;

      &.is-open {
        .dropdown-control,
        .Dropdown-menu {
          border: 1px solid rgba($color-dark-5, 1);
        }
      }

      .dropdown-control {
        border: $light-border;
        padding: 0.5rem 0.75rem;

        .Dropdown-placeholder {
          font-size: 0.9rem;
          opacity: 0.65;

          &.is-selected {
            opacity: 1;
            color: $color-dark;
          }
        }
      }

      .Dropdown-disabled {
        border: none;
        padding: 0;
        pointer-events: none;

        .Dropdown-arrow {
          display: none;
        }
      }
    }
  }
}
