.upload-wrapper {
  z-index: 99999;
  background-color: rgba($color-dark, 0.5);
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  height: 100%;

  .upload-modal {
    box-shadow: $box-shadow-m;
    pointer-events: auto;
    z-index: 99999;

    max-width: 50rem;
    width: 80%;
    background-color: white;
    border-radius: 2px;

    @include absCenter;

    header {
      line-height: 3rem;
      display: flex;
      justify-content: center;
      align-items: center;
      border-bottom: $light-border;
      margin-bottom: 2rem;

      h3 {
        text-align: center;
        text-transform: capitalize;
      }

      svg {
        opacity: 0.2;
        transition: opacity 0.2s ease-out;
        height: 15px;
        cursor: pointer;

        position: absolute;
        right: 1rem;

        &:hover {
          opacity: 0.5;
        }
      }
    }

    // Cropper component (react-easy-crop)
    .cropper-wrapper {
      position: relative;
      height: 30rem;
      overflow: hidden;
      width: 100%;
      margin: auto;

      .reactEasyCrop_Container {
        overflow: hidden;
        // height: 6rem;
        margin: auto;
        display: block;

        img {
          width: 100%;
          transition: all 0.05s;
        }

        .reactEasyCrop_CropArea {
          border: none;
          color: rgba(255, 255, 255, 0.5);
          width: 4rem;
          height: 4rem;
        }
      }
    }

    // Slider component (rc-slider)
    .rc-slider {
      width: 30rem;
      margin: 2rem auto 5rem auto;
      max-width: 80%;

      &-track {
        background-color: $color-dark-3;
      }

      &-handle {
        border: 2px solid rgba($color-dark, 0.5);

        border-color: rgba($color-dark, 0.5);

        &:hover {
          border-color: rgba($color-dark, 0.75);
        }

        &:active {
          box-shadow: 0 0 5px $color-dark-2;
        }
      }
    }

    footer {
      display: flex;
      padding: 1rem;

      justify-content: space-between;

      @include media('>phone') {
        justify-content: flex-end;
      }

      button {
        pointer-events: auto;

        &.close-btn {
          margin-right: 2vw;
        }
      }
    }
  }
}
